name: "units-test"
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  # unit tests
  units:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: npm ci
    - run: npm test

    - name: Get branch name
      id: branch-name
      uses: tj-actions/branch-names@v6
      
    - name: Jest Coverage Comment
      id: coverageComment
      uses: MishaKav/jest-coverage-comment@main
      with:
        summary-title: Cypress Component Coverage (summary)
        title: Test Coverage
        coverage-summary-path: coverage/coverage-summary.json

    - name: Check the output coverage
      run: |
        echo "Coverage Percentage - ${{ steps.coverageComment.outputs.coverage }}"
        echo "Coverage Color - ${{ steps.coverageComment.outputs.color }}"
        echo "Summary HTML - ${{ steps.coverageComment.outputs.summaryHtml }}"

    - name: Create the Badge
      uses: schneegans/dynamic-badges-action@v1.0.0
      with:
        auth: ${{ secrets.GIST_AUTH_TOKEN }}
        gistID: 9ce1ad7d8e9db99796e782b244eefa4a
        filename: devops_metrics__${{ steps.branch-name.outputs.current_branch }}.json
        label: Test Coverage
        message: ${{ steps.coverageComment.outputs.coverage }}%
        color: ${{ steps.coverageComment.outputs.color }}
        namedLogo: jest


  # test action works running from the graph
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./
      with:
        owner: stenjo
        repo: '[dora,Middager]'
        token: ${{ secrets.GITHUB_TOKEN }}
